<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <property name="log.pattern" value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %level [%thread] - %logger{36}[%line] - %msg%n" />
    <property name="log.charset" value="UTF-8" />
    <property name="log.level" value="INFO" />

    <!--
        1、部署到tomcat中，默认相对路径在bin下面，下面配置日志会在logs下面
        2、使用 jetty 启动项目，日志在项目同级路径下logs下面
        3、在web test下面单元测试，日志在项目路径下logs下面
    -->
    <property name="log.path" value="../logs/" />


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/common.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/common.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/error.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 主要用于记录 runtime exception -->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/warn.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/db.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/db.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <logger name="com.tqmall.sigma.dao">
        <level value="DEBUG" />
        <appender-ref ref="DB" />
    </logger>

    <!-- dubbo服务访问日志 -->
    <appender name="DUBBO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/dubbo.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/dubbo.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <logger name="com.tqmall.sigma.server.interceptor.DubboServerInterceptor">
        <level value="INFO" />
        <appender-ref ref="DUBBO" />
    </logger>

    <!-- 通联接口调用日志 -->
    <appender name="TONGLIAN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/tonglian.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/tonglian.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>${log.charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <logger name="com.tqmall.sigma.biz.service.tonglian.InterfaceInvokeBizImpl">
        <level value="INFO" />
        <appender-ref ref="TONGLIAN" />
    </logger>


    <!-- mq相关日志 -->
    <!--<appender name="MQ" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${log.path}/mq.log</file>-->
        <!--<append>false</append>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${log.path}/mq.%d{yyyy-MM-dd}.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<charset>${log.charset}</charset>-->
            <!--<pattern>${log.pattern}</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <!--<logger name="com.tqmall.mana.biz.mq">-->
        <!--<level value="INFO" />-->
        <!--<appender-ref ref="MQ" />-->
    <!--</logger>-->


    <root>
        <level value="${log.level}" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="COMMON" />
        <appender-ref ref="ERROR" />
        <appender-ref ref="WARN" />
    </root>

</configuration>