<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqmall.sigma.dao.MemberBankCardMapper">

	<!--实体映射-->
	<resultMap id="BaseResultMap" type="com.tqmall.sigma.entity.MemberBankCardDO">
		<!--自增ID-->
		<id column="id" property="id" jdbcType="INTEGER" />
		<!--是否删除,N:未删除，Y:删除-->
		<result column="is_deleted" property="isDeleted"  jdbcType="VARCHAR" />
		<!--记录创建时间-->
		<result column="gmt_create" property="gmtCreate"  jdbcType="TIMESTAMP" />
		<!--记录修改时间,如果时间是1970年则表示纪录未修改-->
		<result column="gmt_modified" property="gmtModified"  jdbcType="TIMESTAMP" />
		<!--创建人，0表示无创建人值-->
		<result column="creator" property="creator"  jdbcType="INTEGER" />
		<!--修改人,如果为0则表示纪录未修改-->
		<result column="modifier" property="modifier"  jdbcType="INTEGER" />
		<!--会员ID-->
		<result column="member_id" property="memberId"  jdbcType="INTEGER" />
		<!--银行卡号-->
		<result column="bank_card_no" property="bankCardNo"  jdbcType="VARCHAR" />
		<!--银行预留手机号-->
		<result column="bank_phone" property="bankPhone"  jdbcType="VARCHAR" />
		<!--卡bin-->
		<result column="card_bin" property="cardBin"  jdbcType="VARCHAR" />
		<!--发卡行代码-->
		<result column="bank_code" property="bankCode"  jdbcType="VARCHAR" />
		<!--发卡行名称-->
		<result column="bank_name" property="bankName"  jdbcType="VARCHAR" />
		<!--卡片状态（0:无效 1:有效）-->
		<result column="card_state" property="cardState"  jdbcType="INTEGER" />
		<!--绑定时间-->
		<result column="bind_time" property="bindTime"  jdbcType="TIMESTAMP" />
		<!--解绑时间-->
		<result column="unbind_time" property="unbindTime"  jdbcType="TIMESTAMP" />
		<!--申请绑卡时间-->
		<result column="apply_time" property="applyTime"  jdbcType="VARCHAR" />
        <!--绑卡流水号-->
        <result column="trance_num" property="tranceNum"  jdbcType="VARCHAR" />
		<!--银行卡类型（1:借记卡 2:信用卡）-->
		<result column="card_type" property="cardType"  jdbcType="INTEGER" />
		<!--绑定状态（0:未绑定 1:已绑定 2:已解除）-->
		<result column="bind_state" property="bindState"  jdbcType="INTEGER" />
		<!--是否安全卡（0:否 1:是）-->
		<result column="is_safe_card" property="isSafeCard"  jdbcType="INTEGER" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,is_deleted,gmt_create,gmt_modified,creator,
		modifier,member_id,bank_card_no,bank_phone,card_bin,
		bank_code,bank_name,card_state,bind_time,unbind_time,
		apply_time,trance_num,card_type,bind_state,is_safe_card
	</sql>

	<!-- 动态条件 -->
	<sql id="BaseCondition">
		<where>
			<if test="id != null">
				 AND id=#{id,jdbcType=INTEGER }
			</if>
			<if test="isDeleted != null">
				 AND is_deleted=#{isDeleted,jdbcType=VARCHAR }
			</if>
			<if test="gmtCreate != null">
				 AND gmt_create=#{gmtCreate,jdbcType=TIMESTAMP }
			</if>
			<if test="gmtModified != null">
				 AND gmt_modified=#{gmtModified,jdbcType=TIMESTAMP }
			</if>
			<if test="creator != null">
				 AND creator=#{creator,jdbcType=INTEGER }
			</if>
			<if test="modifier != null">
				 AND modifier=#{modifier,jdbcType=INTEGER }
			</if>
			<if test="memberId != null">
				 AND member_id=#{memberId,jdbcType=INTEGER }
			</if>
			<if test="bankCardNo != null">
				 AND bank_card_no=#{bankCardNo,jdbcType=VARCHAR }
			</if>
			<if test="bankPhone != null">
				 AND bank_phone=#{bankPhone,jdbcType=VARCHAR }
			</if>
			<if test="cardBin != null">
				 AND card_bin=#{cardBin,jdbcType=VARCHAR }
			</if>
			<if test="bankCode != null">
				 AND bank_code=#{bankCode,jdbcType=VARCHAR }
			</if>
			<if test="bankName != null">
				 AND bank_name=#{bankName,jdbcType=VARCHAR }
			</if>
			<if test="cardState != null">
				 AND card_state=#{cardState,jdbcType=INTEGER }
			</if>
			<if test="bindTime != null">
				 AND bind_time=#{bindTime,jdbcType=TIMESTAMP }
			</if>
			<if test="unbindTime != null">
				 AND unbind_time=#{unbindTime,jdbcType=TIMESTAMP }
			</if>
			<if test="applyTime != null">
				 AND apply_time=#{applyTime,jdbcType=VARCHAR }
			</if>
			<if test="tranceNum != null">
				 AND trance_num=#{tranceNum,jdbcType=VARCHAR }
			</if>
			<if test="cardType != null">
				 AND card_type=#{cardType,jdbcType=INTEGER }
			</if>
			<if test="bindState != null">
				 AND bind_state=#{bindState,jdbcType=INTEGER }
			</if>
			<if test="isSafeCard != null">
				 AND is_safe_card=#{isSafeCard,jdbcType=INTEGER }
			</if>
		</where>
	</sql>

	<!-- 根据动态条件查询语句（根据BaseCondition查询语句） -->
	<sql id="SelectByBaseConditionSql" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM db_member_bank_card
		 <include refid="BaseCondition"/>
	</sql>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		 DELETE FROM db_member_bank_card
		 WHERE id = #{id,jdbcType=INTEGER }
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.tqmall.sigma.entity.MemberBankCardDO" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO db_member_bank_card
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="isDeleted != null">
				 is_deleted,
			</if>
			<if test="gmtCreate != null">
				 gmt_create,
			</if>
			<if test="gmtModified != null">
				 gmt_modified,
			</if>
			<if test="creator != null">
				 creator,
			</if>
			<if test="modifier != null">
				 modifier,
			</if>
			<if test="memberId != null">
				 member_id,
			</if>
			<if test="bankCardNo != null">
				 bank_card_no,
			</if>
			<if test="bankPhone != null">
				 bank_phone,
			</if>
			<if test="cardBin != null">
				 card_bin,
			</if>
			<if test="bankCode != null">
				 bank_code,
			</if>
			<if test="bankName != null">
				 bank_name,
			</if>
			<if test="cardState != null">
				 card_state,
			</if>
			<if test="bindTime != null">
				 bind_time,
			</if>
			<if test="unbindTime != null">
				 unbind_time,
			</if>
			<if test="applyTime != null">
                apply_time,
			</if>
            <if test="tranceNum != null">
                 trance_num,
            </if>
			<if test="cardType != null">
				 card_type,
			</if>
			<if test="bindState != null">
				 bind_state,
			</if>
			<if test="isSafeCard != null">
				 is_safe_card,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id,jdbcType=INTEGER },
			</if>
			<if test="isDeleted!=null">
				 #{isDeleted,jdbcType=VARCHAR },
			</if>
			<if test="gmtCreate!=null">
				 #{gmtCreate,jdbcType=TIMESTAMP },
			</if>
			<if test="gmtModified!=null">
				 #{gmtModified,jdbcType=TIMESTAMP },
			</if>
			<if test="creator!=null">
				 #{creator,jdbcType=INTEGER },
			</if>
			<if test="modifier!=null">
				 #{modifier,jdbcType=INTEGER },
			</if>
			<if test="memberId!=null">
				 #{memberId,jdbcType=INTEGER },
			</if>
			<if test="bankCardNo!=null">
				 #{bankCardNo,jdbcType=VARCHAR },
			</if>
			<if test="bankPhone!=null">
				 #{bankPhone,jdbcType=VARCHAR },
			</if>
			<if test="cardBin!=null">
				 #{cardBin,jdbcType=VARCHAR },
			</if>
			<if test="bankCode!=null">
				 #{bankCode,jdbcType=VARCHAR },
			</if>
			<if test="bankName!=null">
				 #{bankName,jdbcType=VARCHAR },
			</if>
			<if test="cardState!=null">
				 #{cardState,jdbcType=INTEGER },
			</if>
			<if test="bindTime!=null">
				 #{bindTime,jdbcType=TIMESTAMP },
			</if>
			<if test="unbindTime!=null">
				 #{unbindTime,jdbcType=TIMESTAMP },
			</if>
			<if test="applyTime!=null">
				 #{applyTime,jdbcType=VARCHAR },
			</if>
            <if test="tranceNum!=null">
                 #{tranceNum,jdbcType=VARCHAR },
            </if>
			<if test="cardType!=null">
				 #{cardType,jdbcType=INTEGER },
			</if>
			<if test="bindState!=null">
				 #{bindState,jdbcType=INTEGER },
			</if>
			<if test="isSafeCard!=null">
				 #{isSafeCard,jdbcType=INTEGER },
			</if>
		 </trim>
	</insert>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM db_member_bank_card
		 WHERE id = #{id,jdbcType=INTEGER }
	</select>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.tqmall.sigma.entity.MemberBankCardDO">
		 UPDATE db_member_bank_card
 		 <set> 
			<if test="isDeleted != null">
				 is_deleted = #{isDeleted,jdbcType=VARCHAR },
			</if>
			<if test="gmtCreate != null">
				 gmt_create = #{gmtCreate,jdbcType=TIMESTAMP },
			</if>
			<if test="gmtModified != null">
				 gmt_modified = #{gmtModified,jdbcType=TIMESTAMP },
			</if>
			<if test="creator != null">
				 creator = #{creator,jdbcType=INTEGER },
			</if>
			<if test="modifier != null">
				 modifier = #{modifier,jdbcType=INTEGER },
			</if>
			<if test="memberId != null">
				 member_id = #{memberId,jdbcType=INTEGER },
			</if>
			<if test="bankCardNo != null">
				 bank_card_no = #{bankCardNo,jdbcType=VARCHAR },
			</if>
			<if test="bankPhone != null">
				 bank_phone = #{bankPhone,jdbcType=VARCHAR },
			</if>
			<if test="cardBin != null">
				 card_bin = #{cardBin,jdbcType=VARCHAR },
			</if>
			<if test="bankCode != null">
				 bank_code = #{bankCode,jdbcType=VARCHAR },
			</if>
			<if test="bankName != null">
				 bank_name = #{bankName,jdbcType=VARCHAR },
			</if>
			<if test="cardState != null">
				 card_state = #{cardState,jdbcType=INTEGER },
			</if>
			<if test="bindTime != null">
				 bind_time = #{bindTime,jdbcType=TIMESTAMP },
			</if>
			<if test="unbindTime != null">
				 unbind_time = #{unbindTime,jdbcType=TIMESTAMP },
			</if>
			<if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=VARCHAR },
			</if>
            <if test="tranceNum != null">
                 trance_num=#{tranceNum,jdbcType=VARCHAR },
            </if>
			<if test="cardType != null">
				 card_type = #{cardType,jdbcType=INTEGER },
			</if>
			<if test="bindState != null">
				 bind_state = #{bindState,jdbcType=INTEGER },
			</if>
			<if test="isSafeCard != null">
				 is_safe_card = #{isSafeCard,jdbcType=INTEGER },
			</if>

 		 </set>
		 WHERE id = #{id,jdbcType=INTEGER }
	</update>

	<!-- 批量添加 -->
	<insert id="batchInsert" parameterType="com.tqmall.sigma.entity.MemberBankCardDO">
		 INSERT INTO db_member_bank_card
 		(
		 <include refid="Base_Column_List" />
		) 
		 VALUES 
		 <foreach collection="memberBankCardDOList" item="item" index="index" separator=",">
 			(
			#{item.id,jdbcType=INTEGER },
			#{item.isDeleted,jdbcType=VARCHAR },
			#{item.gmtCreate,jdbcType=TIMESTAMP },
			#{item.gmtModified,jdbcType=TIMESTAMP },
			#{item.creator,jdbcType=INTEGER },
			#{item.modifier,jdbcType=INTEGER },
			#{item.memberId,jdbcType=INTEGER },
			#{item.bankCardNo,jdbcType=VARCHAR },
			#{item.bankPhone,jdbcType=VARCHAR },
			#{item.cardBin,jdbcType=VARCHAR },
			#{item.bankCode,jdbcType=VARCHAR },
			#{item.bankName,jdbcType=VARCHAR },
			#{item.cardState,jdbcType=INTEGER },
			#{item.bindTime,jdbcType=TIMESTAMP },
			#{item.unbindTime,jdbcType=TIMESTAMP },
			#{item.applyTime,jdbcType=VARCHAR },
			#{item.tranceNum,jdbcType=VARCHAR },
			#{item.cardType,jdbcType=INTEGER },
			#{item.bindState,jdbcType=INTEGER },
			#{item.isSafeCard,jdbcType=INTEGER }
			)
		</foreach>
	</insert>

	<!-- 根据动态条件查询总数目（根据BaseCondition查询总数目） -->
	<select id="countByBaseCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
		 SELECT
		 count(*)
		 FROM db_member_bank_card
		 <include refid="BaseCondition"/>
	</select>

	<!-- 根据动态条件查询（根据BaseCondition查询） -->
	<select id="selectByBaseConditionPageable" resultMap="BaseResultMap" parameterType="java.util.Map">
		<include refid="SelectByBaseConditionSql"/>
		<if test="orderStr != null">
			order by #{orderStr}
				<if test="orderStyle!=null">
					#{orderStyle}
				</if>
		</if>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>

	<!-- 批量更新 -->
	<update id="batchUpdateById" parameterType="com.tqmall.sigma.entity.MemberBankCardDO">
		update db_member_bank_card
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="id =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.id!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.id,jdbcType=INTEGER }
					</if>
					<if test="item.id==null">
						when #{item.id,jdbcType=INTEGER} then id
					</if>
				</foreach>
			</trim>
			<trim prefix="is_deleted =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.isDeleted!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.isDeleted,jdbcType=VARCHAR }
					</if>
					<if test="item.isDeleted==null">
						when #{item.id,jdbcType=INTEGER} then is_deleted
					</if>
				</foreach>
			</trim>
			<trim prefix="gmt_create =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.gmtCreate!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.gmtCreate,jdbcType=TIMESTAMP }
					</if>
					<if test="item.gmtCreate==null">
						when #{item.id,jdbcType=INTEGER} then gmt_create
					</if>
				</foreach>
			</trim>
			<trim prefix="gmt_modified =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.gmtModified!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.gmtModified,jdbcType=TIMESTAMP }
					</if>
					<if test="item.gmtModified==null">
						when #{item.id,jdbcType=INTEGER} then gmt_modified
					</if>
				</foreach>
			</trim>
			<trim prefix="creator =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.creator!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.creator,jdbcType=INTEGER }
					</if>
					<if test="item.creator==null">
						when #{item.id,jdbcType=INTEGER} then creator
					</if>
				</foreach>
			</trim>
			<trim prefix="modifier =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.modifier!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.modifier,jdbcType=INTEGER }
					</if>
					<if test="item.modifier==null">
						when #{item.id,jdbcType=INTEGER} then modifier
					</if>
				</foreach>
			</trim>
			<trim prefix="member_id =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.memberId!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.memberId,jdbcType=INTEGER }
					</if>
					<if test="item.memberId==null">
						when #{item.id,jdbcType=INTEGER} then member_id
					</if>
				</foreach>
			</trim>
			<trim prefix="bank_card_no =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bankCardNo!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bankCardNo,jdbcType=VARCHAR }
					</if>
					<if test="item.bankCardNo==null">
						when #{item.id,jdbcType=INTEGER} then bank_card_no
					</if>
				</foreach>
			</trim>
			<trim prefix="bank_phone =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bankPhone!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bankPhone,jdbcType=VARCHAR }
					</if>
					<if test="item.bankPhone==null">
						when #{item.id,jdbcType=INTEGER} then bank_phone
					</if>
				</foreach>
			</trim>
			<trim prefix="card_bin =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.cardBin!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.cardBin,jdbcType=VARCHAR }
					</if>
					<if test="item.cardBin==null">
						when #{item.id,jdbcType=INTEGER} then card_bin
					</if>
				</foreach>
			</trim>
			<trim prefix="bank_code =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bankCode!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bankCode,jdbcType=VARCHAR }
					</if>
					<if test="item.bankCode==null">
						when #{item.id,jdbcType=INTEGER} then bank_code
					</if>
				</foreach>
			</trim>
			<trim prefix="bank_name =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bankName!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bankName,jdbcType=VARCHAR }
					</if>
					<if test="item.bankName==null">
						when #{item.id,jdbcType=INTEGER} then bank_name
					</if>
				</foreach>
			</trim>
			<trim prefix="card_state =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.cardState!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.cardState,jdbcType=INTEGER }
					</if>
					<if test="item.cardState==null">
						when #{item.id,jdbcType=INTEGER} then card_state
					</if>
				</foreach>
			</trim>
			<trim prefix="bind_time =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bindTime!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bindTime,jdbcType=TIMESTAMP }
					</if>
					<if test="item.bindTime==null">
						when #{item.id,jdbcType=INTEGER} then bind_time
					</if>
				</foreach>
			</trim>
			<trim prefix="unbind_time =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.unbindTime!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.unbindTime,jdbcType=TIMESTAMP }
					</if>
					<if test="item.unbindTime==null">
						when #{item.id,jdbcType=INTEGER} then unbind_time
					</if>
				</foreach>
			</trim>
			<trim prefix="apply_time =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.applyTime!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.applyTime,jdbcType=VARCHAR }
					</if>
					<if test="item.applyTime==null">
						when #{item.id,jdbcType=INTEGER} then apply_time
					</if>
				</foreach>
			</trim>
			<trim prefix="trance_num =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.tranceNum!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.tranceNum,jdbcType=TIMESTAMP }
					</if>
					<if test="item.tranceNum==null">
						when #{item.id,jdbcType=INTEGER} then trance_num
					</if>
				</foreach>
			</trim>
			<trim prefix="card_type =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.cardType!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.cardType,jdbcType=INTEGER }
					</if>
					<if test="item.cardType==null">
						when #{item.id,jdbcType=INTEGER} then card_type
					</if>
				</foreach>
			</trim>
			<trim prefix="bind_state =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.bindState!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.bindState,jdbcType=INTEGER }
					</if>
					<if test="item.bindState==null">
						when #{item.id,jdbcType=INTEGER} then bind_state
					</if>
				</foreach>
			</trim>
			<trim prefix="is_safe_card =case id" suffix="end,">
				<foreach collection="memberBankCardDOList" item="item" index="index">
					<if test="item.isSafeCard!=null">
						when #{item.id,jdbcType=INTEGER} then #{item.isSafeCard,jdbcType=INTEGER }
					</if>
					<if test="item.isSafeCard==null">
						when #{item.id,jdbcType=INTEGER} then is_safe_card
					</if>
				</foreach>
			</trim>

		</trim>
		where
		id IN
		<foreach collection="memberBankCardDOList" separator="," item="item" index="index" open="(" close=")">
			#{item.id,jdbcType=INTEGER}
		</foreach>
	</update>

    <select id="selectByMemberIdAndCardNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from db_member_bank_card
        where member_id = #{memberId}
        and bank_card_no = #{cardNo}
        and is_deleted = "N"
    </select>
</mapper>